@page "/"
<div style="background-image: url('/images/fondo.jpg'); background-size: auto; height: 90vh;">
    <MudContainer>
        <MudText Typo="Typo.h4" Color="Color.Info">Bienvenido</MudText>
    </MudContainer>
</div>


